.feynman__link {
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    color:#2f80ed;
    z-index: 1;
    text-decoration: dashed;
    position: absolute;
    top: 50%;
    right: 48px;
  }